@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.Gener-div{
    font-family: "Rubik", sans-serif;
    padding-top: 40px;
    padding-left: 10%;
    color: white;
    background-color: black;
}

.Gener-div .country-gener{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.country-gener select{
    margin-left: -20px;
    margin-left: 2px;
    height: 40px;
    padding:5px 10px;
    font-weight: bold;
    background: transparent;
    color: white;
    border-radius: 5px;
}

.country-gener select option{
    color: black;
}
.country{
    width: 90px;
}

.type{
    width: 120px;
}